.dd-wrapper {
  // background-color: green;
  height: fit-content;
  .dd-header {
    // background-color: cyan;
    &__action {
      // background-color: red;
      width: 15vw;
    }
  }

  .dd-list {
    // background-color: tomato;
    display: flex;
    flex-direction: column;
    li {
      // background-color: blue;
      list-style-type: none;
      button {
        width: 100%;
        padding: 10px;
        &:hover,
        &:focus {
          // background-color: gold;
        }
      }
    }
  }
}
