.filter-bar {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    flex-wrap: wrap;
}
